body { background-color: FBC; }
#name1{ background-color: FFF; }
#name2{ background-color: FFF; }
#thing1{ background-color: FFF; }
#thing2{ background-color: FFF; }
#thing3{ background-color: FFF; }
